In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import psycopg2 as psc

In [11]:
#Creamos las credenciales para ingresar a la base de datos
from sqlalchemy import create_engine
server = {
    'user' : 'postgres',
    'password' : 'detectivecreador',
    'host' : 'localhost',
    'port' : '5434',
    'database' : 'SITEC, soluciones y servicios'
}

#Creamos la cadena de conexión
#conn_str = f'postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}'

conn_str = f"postgresql+psycopg2://{server['user']}:{server['password']}@{server['host']}:{server['port']}/{server['database']}"

#Creamos el motor de conexión

engine = create_engine(conn_str)

In [99]:
#Extraemos la tabla compras
#Tenemos que castear la columna importe total ya que esta en formato money y al extraerlo y guardarlo en un dataframe, el tipo
#de columna será tipo str
consulta = '''SELECT id_compra, 
            id_proveedor, 
            id_estado, status, 
            ref_proveedor, 
            fecha_recepcion AS fecha, 
            fecha_cancelacion,
            CAST(importe_total AS numeric) AS importe_total FROM compras'''

compras = pd.read_sql(consulta,engine)

In [75]:
#Revisamos las variables estadisticas del dataframe
compras.describe()

         id_compra  id_proveedor    id_estado  importe_total
count  9910.000000   9910.000000  9910.000000   9.910000e+03
mean   4955.500000    688.875177     1.617154   1.848554e+04
std    2860.914918    392.101356     0.713287   8.533682e+04
min       1.000000      1.000000     1.000000   7.840000e+00
25%    2478.250000    422.000000     1.000000   5.370275e+02
50%    4955.500000    727.000000     1.000000   1.776625e+03
75%    7432.750000    935.000000     2.000000   1.102000e+04
max    9910.000000  14001.000000     3.000000   5.271941e+06

Si queremos realizar queries dentro de un dataframe, tenemos que importar la libreria *pandassql*:

**pip install pandasql**

In [ ]:
import pandasql as ps

#Definimos la query

consulta = '''SELECT importe_total FROM compras'''

del a
print(ps.sqldf(consulta,locals())) #la función .sqldf nos permite realizar una consulta (primer argumento) a los dataframes locales
#la tabla que va a tomar es la que viene en la querie, detectará ese nombre y buscara en el area local un dataframe con ese nombre

In [84]:
#Extraemos las tablas que existen en la base de datos.
qproveedores = 'SELECT * FROM proveedores'
proveedores = pd.read_sql(qproveedores,engine)

In [127]:
##Obtener los 3 mejores proveedores por mes del 2024
enero = '''SELECT DISTINCT(p.nombre), SUM(c.importe_total) AS importe__proveedor FROM compras c
        INNER JOIN proveedores p
        ON c.id_proveedor = p.id_proveedor
        WHERE fecha BETWEEN '2024-01-01T00:00:00.000Z' AND '2024-01-31T00:00:00.000Z'
        GROUP BY p.nombre
        ORDER BY SUM(c.importe_total) DESC
        LIMIT 3
        '''
febrero = '''SELECT DISTINCT(p.nombre), SUM(c.importe_total) AS importe__proveedor FROM compras c
        INNER JOIN proveedores p
        ON c.id_proveedor = p.id_proveedor
        WHERE fecha BETWEEN '2024-02-01T00:00:00.000Z' AND '2024-02-31T00:00:00.000Z'
        GROUP BY p.nombre
        ORDER BY SUM(c.importe_total) DESC
        LIMIT 3
        '''
marzo = '''SELECT DISTINCT(p.nombre), SUM(c.importe_total) AS importe__proveedor FROM compras c
        INNER JOIN proveedores p
        ON c.id_proveedor = p.id_proveedor
        WHERE fecha BETWEEN '2024-03-01T00:00:00.000Z' AND '2024-03-31T00:00:00.000Z'
        GROUP BY p.nombre
        ORDER BY SUM(c.importe_total) DESC
        LIMIT 3
        '''
abril = '''SELECT DISTINCT(p.nombre), SUM(c.importe_total) AS importe__proveedor FROM compras c
        INNER JOIN proveedores p
        ON c.id_proveedor = p.id_proveedor
        WHERE fecha BETWEEN '2024-04-01T00:00:00.000Z' AND '2024-04-31T00:00:00.000Z'
        GROUP BY p.nombre
        ORDER BY SUM(c.importe_total) DESC
        LIMIT 3
        '''
mayo = '''SELECT DISTINCT(p.nombre), SUM(c.importe_total) AS importe__proveedor FROM compras c
        INNER JOIN proveedores p
        ON c.id_proveedor = p.id_proveedor
        WHERE fecha BETWEEN '2024-05-01T00:00:00.000Z' AND '2024-05-31T00:00:00.000Z'
        GROUP BY p.nombre
        ORDER BY SUM(c.importe_total) DESC
        LIMIT 3
        '''

meses = ['enero','febrero','marzo','abril','mayo']
q = [ps.sqldf(enero,locals()),ps.sqldf(febrero,locals()),ps.sqldf(marzo,locals()),ps.sqldf(abril,locals()),ps.sqldf(mayo,locals())]

In [139]:
rankingproveedores2024 = {}
rankingproveedores2024 = {mes : consulta for mes,consulta in zip(meses,q)}
del abc

In [147]:
rankingproveedores2024['enero']

                                           nombre  importe__proveedor
0       Zigor Soluciones Integrales, S.A. de C.V.           929390.00
1  Grupo Kayla Servicios Integrales, S.A. de C.V.           550779.76
2   Grupo Duri Servicios Integrales, S.A. de C.V.           537818.39